/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* NEW YEAR SCREEN RESOLUTIONS FOR MEDIA QUERIES */
@font-face {
  font-family: 'UKNumberPlate';
  src: url('../fonts/UKNumberPlate.ttf') format('truetype');
}
#about-content {
  height: 45%;
  color: #5264AE;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  padding: 3% 3%;
  text-align: center;
}
#about-content h1 {
  margin-bottom: 15px;
}
#about-content p {
  margin: 15px 0;
  font-size: 20px;
}
#photo-content {
  text-align: center;
  padding: 5% 0;
  background-color: #F4F4F4;
}
#photo-content h1 {
  color: #5264AE;
}
#photo-content h3 {
  font-weight: bold;
  font-size: 20px;
}
#photo-content h4 {
  font-style: italic;
  text-decoration: underline;
  margin: 5px 0;
}
#photo-content .about-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
#photo-content .photo-column {
  display: inline-block;
  padding: 0 5px;
  margin: 15px 0;
}
#photo-content .social-media-links {
  margin-top: 0;
}
#photo-content .social-media-links li {
  display: inline-block;
  width: 30px;
  margin: 0;
}
#photo-content .social-media-links li a img {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  filter: gray;
  /* IE6-9 */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
}
#photo-content .social-media-links li a img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
@media (min-width:320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width:480px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width:640px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width:960px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width:1024px) {
  /* big landscape tablets, laptops, and desktops */
  #about-content {
    height: 45%;
    color: #5264AE;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    padding: 5% 10%;
  }
  #photo-content {
    text-align: center;
    padding: 2% 13%;
    background-color: #F4F4F4;
  }
  #photo-content h1 {
    color: #5264AE;
  }
  #photo-content h3 {
    font-weight: bold;
    font-size: 20px;
  }
  #photo-content h4 {
    font-style: italic;
    text-decoration: underline;
    margin: 5px 0;
  }
  #photo-content .about-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }
  #photo-content .photo-column {
    display: inline-block;
    width: 33%;
    padding: 0 5px;
    margin: 15px 0;
  }
  #photo-content .social-media-links {
    margin-top: 0;
  }
  #photo-content .social-media-links li {
    display: inline-block;
    width: 30px;
    margin: 0;
  }
  #photo-content .social-media-links li a img {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
  }
  #photo-content .social-media-links li a img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
}
@media (min-width: 1280px) {
  /* hi-res laptops and desktops */
  #about-content {
    color: #5264AE;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    padding: 5% 20%;
    text-align: center;
  }
  #about-content h1 {
    margin-bottom: 15px;
  }
  #about-content p {
    margin: 15px 0;
    font-size: 20px;
  }
  #photo-content {
    text-align: center;
    padding: 2% 0;
    background-color: #F4F4F4;
  }
  #photo-content h1 {
    color: #5264AE;
  }
  #photo-content h3 {
    font-weight: bold;
    font-size: 20px;
  }
  #photo-content h4 {
    font-style: italic;
    text-decoration: underline;
    margin: 5px 0;
  }
  #photo-content .about-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }
  #photo-content .photo-column {
    display: inline-block;
    width: 33%;
    padding: 0 5px;
    margin: 15px 0;
  }
  #photo-content .social-media-links {
    margin-top: 0;
  }
  #photo-content .social-media-links li {
    display: inline-block;
    width: 30px;
    margin: 0;
  }
  #photo-content .social-media-links li a img {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
  }
  #photo-content .social-media-links li a img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
}
@media (min-width: 1680px) {
  /* ultra hi-res desktops */
  #about-content {
    color: #5264AE;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    padding: 5% 20%;
    text-align: center;
  }
  #about-content h1 {
    margin-bottom: 15px;
  }
  #about-content p {
    margin: 15px 0;
    font-size: 20px;
  }
  #photo-content {
    text-align: center;
    padding: 2% 20%;
    background-color: #F4F4F4;
  }
  #photo-content h1 {
    color: #5264AE;
  }
  #photo-content h3 {
    font-weight: bold;
    font-size: 20px;
  }
  #photo-content h4 {
    font-style: italic;
    text-decoration: underline;
    margin: 5px 0;
  }
  #photo-content .about-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }
  #photo-content .photo-column {
    display: inline-block;
    width: 33%;
    padding: 0 5px;
    margin: 15px 0;
  }
  #photo-content .social-media-links {
    margin-top: 0;
  }
  #photo-content .social-media-links li {
    display: inline-block;
    width: 30px;
    margin: 0;
  }
  #photo-content .social-media-links li a img {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
  }
  #photo-content .social-media-links li a img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
}