/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* NEW YEAR SCREEN RESOLUTIONS FOR MEDIA QUERIES */
@font-face {
  font-family: 'UKNumberPlate';
  src: url('../fonts/UKNumberPlate.ttf') format('truetype');
}
#contact-content {
  text-align: center;
  color: #5264AE;
  /* basic stylings ------------------------------------------ */
  font-family: 'Roboto';
  margin: 30px auto 0;
  display: block;
  background: #FFF;
  padding: 10px 30px 50px;
  /* form starting stylings ------------------------------- */
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
}
#contact-content * {
  box-sizing: border-box;
}
#contact-content button {
  width: 100%;
  height: 45px;
}
#contact-content h2 {
  text-align: center;
  margin-bottom: 50px;
}
#contact-content h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
#contact-content .footer {
  text-align: center;
}
#contact-content .footer a {
  color: #53B2C8;
}
#contact-content .group {
  position: relative;
  margin-bottom: 45px;
}
#contact-content input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  max-width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
#contact-content input:focus {
  outline: none;
}
#contact-content label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#contact-content input:focus ~ label,
#contact-content input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}
#contact-content .bar {
  position: relative;
  display: block;
}
#contact-content .bar:before,
#contact-content .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#contact-content .bar:before {
  left: 50%;
}
#contact-content .bar:after {
  right: 50%;
}
#contact-content input:focus ~ .bar:before,
#contact-content input:focus ~ .bar:after {
  width: 50%;
}
#contact-content .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
#contact-content input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
@media (min-width:320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width:480px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width:640px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  #contact-content {
    text-align: center;
    color: #5264AE;
    /* basic stylings ------------------------------------------ */
    font-family: 'Roboto';
    width: 600px;
    margin: 30px auto 0;
    display: block;
    background: #FFF;
    padding: 10px 50px 50px;
    /* form starting stylings ------------------------------- */
    /* LABEL ======================================= */
    /* active state */
    /* BOTTOM BARS ================================= */
    /* active state */
    /* HIGHLIGHTER ================================== */
    /* active state */
  }
  #contact-content * {
    box-sizing: border-box;
  }
  #contact-content button {
    width: auto;
    height: auto;
  }
  #contact-content h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  #contact-content h2 small {
    font-weight: normal;
    color: #888;
    display: block;
  }
  #contact-content .footer {
    text-align: center;
  }
  #contact-content .footer a {
    color: #53B2C8;
  }
  #contact-content .group {
    position: relative;
    margin-bottom: 45px;
  }
  #contact-content input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 500px;
    max-width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
  }
  #contact-content input:focus {
    outline: none;
  }
  #contact-content label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  #contact-content input:focus ~ label,
  #contact-content input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
  }
  #contact-content .bar {
    position: relative;
    display: block;
    width: 500px;
  }
  #contact-content .bar:before,
  #contact-content .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  #contact-content .bar:before {
    left: 50%;
  }
  #contact-content .bar:after {
    right: 50%;
  }
  #contact-content input:focus ~ .bar:before,
  #contact-content input:focus ~ .bar:after {
    width: 50%;
  }
  #contact-content .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  #contact-content input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }
}
@media (min-width:960px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width:1024px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1280px) {
  /* hi-res laptops and desktops */
  #contact-content {
    text-align: center;
    color: #5264AE;
    /* basic stylings ------------------------------------------ */
    font-family: 'Roboto';
    width: 600px;
    margin: 30px auto 0;
    display: block;
    background: #FFF;
    padding: 10px 50px 50px;
    /* form starting stylings ------------------------------- */
    /* LABEL ======================================= */
    /* active state */
    /* BOTTOM BARS ================================= */
    /* active state */
    /* HIGHLIGHTER ================================== */
    /* active state */
  }
  #contact-content * {
    box-sizing: border-box;
  }
  #contact-content button {
    width: auto;
    height: auto;
  }
  #contact-content h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  #contact-content h2 small {
    font-weight: normal;
    color: #888;
    display: block;
  }
  #contact-content .footer {
    text-align: center;
  }
  #contact-content .footer a {
    color: #53B2C8;
  }
  #contact-content .group {
    position: relative;
    margin-bottom: 45px;
  }
  #contact-content input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 500px;
    max-width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
  }
  #contact-content input:focus {
    outline: none;
  }
  #contact-content label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  #contact-content input:focus ~ label,
  #contact-content input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
  }
  #contact-content .bar {
    position: relative;
    display: block;
    width: 500px;
  }
  #contact-content .bar:before,
  #contact-content .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  #contact-content .bar:before {
    left: 50%;
  }
  #contact-content .bar:after {
    right: 50%;
  }
  #contact-content input:focus ~ .bar:before,
  #contact-content input:focus ~ .bar:after {
    width: 50%;
  }
  #contact-content .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  #contact-content input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}