/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* NEW YEAR SCREEN RESOLUTIONS FOR MEDIA QUERIES */
@font-face {
  font-family: 'UKNumberPlate';
  src: url('../fonts/UKNumberPlate.ttf') format('truetype');
}
#garage {
  width: 1024px;
  max-width: 100%;
  margin: auto;
  text-align: center;
}
#garage .switch-field {
  margin: 10px auto;
}
#garage div:empty {
  display: none;
}
#garage h3 {
  font-size: 22px;
  margin: 5px 0;
}
#garage h4 {
  font-size: 18px;
  margin: 10px 0 15px 0px;
}
#garage .active-quotes .garage-quote-item {
  overflow: auto;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 15px 15px;
  box-shadow: 3px 3px 5px #888888;
}
#garage .active-quotes .garage-quote-item div {
  margin: 3px 0;
}
#garage .active-quotes .garage-quote-item .quote-details {
  margin: 20px 0;
  width: 100%;
}
#garage .active-quotes .garage-quote-item .quote-details .issue-description {
  text-align: center;
  width: 95%;
  margin: auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px 0;
}
#garage .active-quotes .garage-quote-item .submit-quote-values {
  width: 100%;
  margin: auto;
}
#garage .active-quotes .garage-quote-item .submit-quote-values textarea {
  width: 95%;
  height: 100px;
  margin: 10px 0;
  resize: none;
}
#garage .active-quotes .garage-quote-item .submit-quote-values .quote-price {
  margin-bottom: 10px;
  /* webkit solution */
  /* mozilla solution */
}
#garage .active-quotes .garage-quote-item .submit-quote-values .quote-price ::-webkit-input-placeholder {
  text-align: left;
}
#garage .active-quotes .garage-quote-item .submit-quote-values .quote-price input:-moz-placeholder {
  text-align: left;
}
#garage .active-quotes .garage-quote-item .quote-control-buttons {
  clear: both;
}
#garage .submitted-quotes .garage-quote-item {
  overflow: auto;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 15px 15px;
  box-shadow: 3px 3px 5px #888888;
}
#garage .submitted-quotes .garage-quote-item div {
  margin: 3px 0;
}
#garage .submitted-quotes .garage-quote-item .quote-details {
  margin: 20px 0;
  width: 100%;
}
#garage .submitted-quotes .garage-quote-item .quote-details .issue-description {
  text-align: center;
  width: 95%;
  margin: auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px 0;
}
#garage .submitted-quotes .garage-quote-item .submit-quote-values {
  width: 100%;
  margin: auto;
}
#garage .submitted-quotes .garage-quote-item .submit-quote-values .mech-response-message {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: auto;
  padding: 5px;
  text-align: center;
  width: 95%;
  min-height: 100px;
}
#garage .submitted-quotes .garage-quote-item .submit-quote-values textarea {
  width: 95%;
  height: 100px;
  margin: 10px 0;
  resize: none;
}
#garage .submitted-quotes .garage-quote-item .submit-quote-values .quote-price {
  margin-bottom: 10px;
  /* webkit solution */
  /* mozilla solution */
}
#garage .submitted-quotes .garage-quote-item .submit-quote-values .quote-price ::-webkit-input-placeholder {
  text-align: left;
}
#garage .submitted-quotes .garage-quote-item .submit-quote-values .quote-price input:-moz-placeholder {
  text-align: left;
}
#garage .submitted-quotes .garage-quote-item .quote-control-buttons {
  clear: both;
}
@media (min-width:320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width:480px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width:640px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  #garage {
    width: 1024px;
    max-width: 100%;
    margin: auto;
    text-align: center;
  }
  #garage div:empty {
    display: none;
  }
  #garage h3 {
    font-size: 22px;
    margin: 5px 0;
  }
  #garage h4 {
    font-size: 18px;
    margin: 5px 0;
  }
  #garage .active-quotes .garage-quote-item {
    overflow: auto;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 15px 15px;
    box-shadow: 3px 3px 5px #888888;
  }
  #garage .active-quotes .garage-quote-item div {
    margin: 3px 0;
  }
  #garage .active-quotes .garage-quote-item .quote-details {
    float: left;
    margin-left: 15px;
    width: 45%;
    text-align: left;
  }
  #garage .active-quotes .garage-quote-item .quote-details .issue-description {
    text-align: center;
    width: auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 0;
  }
  #garage .active-quotes .garage-quote-item .submit-quote-values {
    float: right;
    width: 45%;
  }
  #garage .active-quotes .garage-quote-item .submit-quote-values textarea {
    width: 250px;
    height: 100px;
    resize: none;
  }
  #garage .active-quotes .garage-quote-item .submit-quote-values .quote-price {
    /* webkit solution */
    /* mozilla solution */
  }
  #garage .active-quotes .garage-quote-item .submit-quote-values .quote-price ::-webkit-input-placeholder {
    text-align: left;
  }
  #garage .active-quotes .garage-quote-item .submit-quote-values .quote-price input:-moz-placeholder {
    text-align: left;
  }
  #garage .active-quotes .garage-quote-item .quote-control-buttons {
    clear: both;
  }
  #garage .submitted-quotes .garage-quote-item {
    overflow: auto;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 15px 15px;
    box-shadow: 3px 3px 5px #888888;
  }
  #garage .submitted-quotes .garage-quote-item div {
    margin: 3px 0;
  }
  #garage .submitted-quotes .garage-quote-item .quote-details {
    float: left;
    margin-left: 15px;
    width: 45%;
    text-align: left;
  }
  #garage .submitted-quotes .garage-quote-item .quote-details .issue-description {
    text-align: center;
    width: auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 0;
  }
  #garage .submitted-quotes .garage-quote-item .submit-quote-values {
    float: right;
    width: 45%;
  }
  #garage .submitted-quotes .garage-quote-item .submit-quote-values .mech-response-message {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    text-align: center;
    width: 250px;
    min-height: 100px;
  }
  #garage .submitted-quotes .garage-quote-item .submit-quote-values .quote-price {
    /* webkit solution */
    /* mozilla solution */
  }
  #garage .submitted-quotes .garage-quote-item .submit-quote-values .quote-price ::-webkit-input-placeholder {
    text-align: left;
  }
  #garage .submitted-quotes .garage-quote-item .submit-quote-values .quote-price input:-moz-placeholder {
    text-align: left;
  }
  #garage .submitted-quotes .garage-quote-item .quote-control-buttons {
    clear: both;
  }
}
@media (min-width:960px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width:1024px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1280px) {
  /* hi-res laptops and desktops */
  #garage {
    width: 1024px;
    max-width: 100%;
    margin: auto;
    text-align: center;
  }
  #garage div:empty {
    display: none;
  }
  #garage h3 {
    font-size: 22px;
    margin: 5px 0;
  }
  #garage h4 {
    font-size: 18px;
    margin: 5px 0;
  }
  #garage .active-quotes .garage-quote-item {
    overflow: auto;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 15px 15px;
    box-shadow: 3px 3px 5px #888888;
  }
  #garage .active-quotes .garage-quote-item div {
    margin: 3px 0;
  }
  #garage .active-quotes .garage-quote-item .quote-details {
    float: left;
    margin-left: 15px;
    width: 45%;
    text-align: left;
  }
  #garage .active-quotes .garage-quote-item .quote-details .issue-description {
    text-align: center;
    width: auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 0;
  }
  #garage .active-quotes .garage-quote-item .submit-quote-values {
    float: right;
    width: 45%;
    margin: 15px 30px;
  }
  #garage .active-quotes .garage-quote-item .submit-quote-values textarea {
    width: 250px;
    height: 100px;
    resize: none;
  }
  #garage .active-quotes .garage-quote-item .submit-quote-values .quote-price {
    /* webkit solution */
    /* mozilla solution */
  }
  #garage .active-quotes .garage-quote-item .submit-quote-values .quote-price ::-webkit-input-placeholder {
    text-align: left;
  }
  #garage .active-quotes .garage-quote-item .submit-quote-values .quote-price input:-moz-placeholder {
    text-align: left;
  }
  #garage .active-quotes .garage-quote-item .quote-control-buttons {
    clear: both;
  }
}