@{
    ViewBag.Title = "About Us";
}
<div id="about-content">
    <h1>Car Fixed</h1>
    <p>
        Car Fixed is the UK’s first and only platform that connects car owners who need repairs, servicing and maintenance to all local garages
        and uses manufactures standard times so you can rest assured that you aren’t paying over the odds. <br /><br />

        We match thousands of customers every month with trusted and reviewed garages and mechanics in all cities, towns and villages throughout
        the UK. Our incredibly quick quoting system and fast booking mean we are the simplest and most convenient way to book a repair or service
        for your car.<br /><br />

        Car Fixed are all about open, honest and transparent quoting and we give both you, our customer, and the garage the allotted time from
        the manufacturer e.g. Audi, for any service or repair selected. What this means is that if the job should take 1 hour then you should
        only be paying for 1 hour.
    </p>
</div>

<div id="photo-content">
    <h1>Meet the Team</h1>
    <div class="photo-column">
        <div>
            <img class="about-photo" src="~/Content/Images/photo-placeholder.jpg" />
            <h3>Sean Blackburn</h3>
            <h4>Co-Founder</h4>
            <ul class="social-media-links">
                @*<li><a href="" target="_blank"><img src="~/Content/Images/Social Nets/fb.ico" alt="Facebook" /></a></li>*@
                <li><a href="https://www.linkedin.com/in/sean-blackburn-21b20632" target="_blank"><img src="~/Content/Images/Social Nets/linkedin.png" alt="LinkedIn" /></a></li>
                @*<li><a href="" target="_blank"><img src="~/Content/Images/Social Nets/twitter.png" alt="Twitter" /></a></li>*@
                @*<li><a href="" target="_blank"><img src="~/Content/Images/Social Nets/google.png" alt="Google+" /></a></li>*@
                <li><a href="https://www.instagram.com/seanjoeyblackburn/" target="_blank"><img src="~/Content/Images/Social Nets/instagram.png" alt="Instagram" /></a></li>
            </ul>
            @*<p>
                    Sean has 16 years’ experience in the motor industry and has held senior management roles with large national companies. He really wanted to
                    create a unique quoting and booking tool for the consumer which was honest and transparent. Car repairs can still be a minefield and having
                    a tool which offers you the right information and the right garages nearby is essential to our daily lives. Sean takes care of the day to
                    day management, sales and marketing and operations..
                </p>*@
        </div>
    </div>
    <div class="photo-column">
        <div>
            <img class="about-photo" src="~/Content/Images/photo-placeholder.jpg" />
            <h3>Aleksandr Ananjev</h3>
            <h4>Co-Founder</h4>
            <ul class="social-media-links">
                @*<li><a href="" target="_blank"><img src="~/Content/Images/Social Nets/fb.ico" alt="Facebook" /></a></li>*@
                <li><a href="https://uk.linkedin.com/in/aleksandr-ananjev-3b603993" target="_blank"><img src="~/Content/Images/Social Nets/linkedin.png" alt="LinkedIn" /></a></li>
                @*<li><a href="" target="_blank"><img src="~/Content/Images/Social Nets/twitter.png" alt="Twitter" /></a></li>*@
                @*<li><a href=""><img src="~/Content/Images/Social Nets/google.png" alt="Google+" target="_blank" /></a></li>*@
            </ul>
            @*<p>
                    Alex has XX years of experience in web development and met Sean and Dave while working on an automotive project. He saw straight away that
                    the benefits to the consumer of not just having a mobile assistant to remind you of all the things you need for your car, but a fair and
                    honest one, was essential to daily life. Alex got his degree in XX from XX and leads our development team day to day.
                </p>*@
        </div>
    </div>
    <div class="photo-column">
        <div>
            <img class="about-photo" src="~/Content/Images/photo-placeholder.jpg" />
            <h3>David Gill</h3>
            <h4>Co-Founder</h4>
            <ul class="social-media-links">
                @*<li><a href="" target="_blank"><img src="~/Content/Images/Social Nets/fb.ico" alt="Facebook" /></a></li>*@
                <li><a href="https://www.linkedin.com/in/dave-gill-7359328" target="_blank"><img src="~/Content/Images/Social Nets/linkedin.png" alt="LinkedIn" /></a></li>
                @*<li><a href="" target="_blank"><img src="~/Content/Images/Social Nets/twitter.png" alt="Twitter" /></a></li>*@
                @*<li><a href="" target="_blank"><img src="~/Content/Images/Social Nets/google.png" alt="Google+" /></a></li>*@
            </ul>
            @*<p>
                    Dave has worked within automotive web development and data for XX years. He believes that the consumer should have a fair price for their
                    quotes and we should use the technology we have to help us achieve this goal. Dave is responsible for all the data implementation and the
                    head of our development operations. He is well qualified for such a role with a degree in XX from XX.
                </p>*@
        </div>
    </div>
    <div class="photo-column">
        <div>
            <img class="about-photo" src="~/Content/Images/Employees/sonic.jpg" />
            <h3>Sonic the Cat</h3>
            <h4>ChairCat</h4>
            <ul class="social-media-links">
                @*<li><a href="" target="_blank"><img src="~/Content/Images/Social Nets/fb.ico" alt="Facebook" /></a></li>*@
                @*<li><a href="" target="_blank"><img src="~/Content/Images/Social Nets/linkedin.png" alt="LinkedIn" /></a></li>*@
                @*<li><a href="" target="_blank"><img src="~/Content/Images/Social Nets/twitter.png" alt="Twitter" /></a></li>*@
                @*<li><a href=""><img src="~/Content/Images/Social Nets/google.png" alt="Google+" target="_blank" /></a></li>*@
                <li><a href="https://www.instagram.com/sonicthesupercat/" target="_blank"><img src="~/Content/Images/Social Nets/instagram.png" alt="Instagram" /></a></li>
            </ul>
            @*<p>
                    Alex has XX years of experience in web development and met Sean and Dave while working on an automotive project. He saw straight away that
                    the benefits to the consumer of not just having a mobile assistant to remind you of all the things you need for your car, but a fair and
                    honest one, was essential to daily life. Alex got his degree in XX from XX and leads our development team day to day.
                </p>*@
        </div>
    </div>
</div>
