<div class="howiw">
    <h1>How it works?</h1>
    <h2>It takes just four easy steps!</h2>
    <div class="slider">
        <div>
            <div class="howto-info">
                <h2>Enter your details</h2>
                <p>
                    Provide us with the information about your car and what requires to be done and we will find the best garage option for you.
                </p>
            </div>
            <div class="howto-img">
                <img src="~/Content/Images/hiw-1.jpg" />
            </div>
        </div>
        <div>
            <div class="howto-info">
                <h2>Get your quotes</h2>
                <p>
                    Sit back, relax and wait for the garages to evaluate the job you need and send you their proposal.
                </p>
            </div>
            <div class="howto-img">
                <img src="~/Content/Images/hiw-2.jpg" />
            </div>
        </div>
        <div>
            <div class="howto-info">
                <h2>Choose your garage</h2>
                <p>
                    Pick the best suiting garage option to proceed with the fixture.
                </p>
            </div>
            <div class="howto-img">
                <img src="~/Content/Images/hiw-3.jpg" />
            </div>
        </div>
        <div>
            <div class="howto-info">
                <h2>Leave a review</h2>
                <p>
                    Don't forget to let us know how satisfied you were with the work the garage did for you!
                </p>
            </div>
            <div class="howto-img">
                <img src="~/Content/Images/hiw-4.jpg" />
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/slick.min.js"></script>
<script>
    $(function () {
        $('.slider').slick({
            prevArrow: '<i class="fa fa-chevron-circle-left fa-2x prev" aria-hidden="true"></i>',
            nextArrow: '<i class="fa fa-chevron-circle-right fa-2x next" aria-hidden="true"></i>',
            dots: true
        });
    });
</script>
